/* Styles for enumerable offical site
 * Authors:
 * ?
 * code is poetry */
/*
 * Default settings for other scss files. */
/*
 * Mixins */
/*
 * Base styles like buttons, navigation, typography... */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

p {
  font-family: inherit;
  font-size: inherit; }

img {
  max-width: 100%; }

#container {
  width: 100%;
  margin-top: 100px;
  *zoom: 1; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }

header[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  background-color:#F0F0F0;
  background: white url('../img/bg-stripe.png') repeat scroll 0 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  box-shadow: 0 0 3px rgba(0, 0, 0, .05);
  border-bottom: 1px solid #EAEAEA;
  width:100%;
  overflow: visible;
  z-index: 66; }
  header[role="banner"] #inner-header {
    max-width: 1024px;
    margin: auto; }
    header[role="banner"] #inner-header #logo {
      float: left;
      display: block;
      padding-right: 45px; }
    header[role="banner"] #inner-header nav ul {
      margin: 0;
      padding: 19px 0; }
      header[role="banner"] #inner-header nav ul li {
        display: inline;
        padding: 0 45px; }
        header[role="banner"] #inner-header nav ul li a {
          font-size: 16px;
          color: gray;
          text-decoration: none; }
          header[role="banner"] #inner-header nav ul li a:hover {
            color: #333333;
            -webkit-transition: color linear 1s;
            -moz-transition: color linear 1s;
            -o-transition: color linear 1s;
            transition: color linear 1s; }

#hero-unit {
  max-width: 1024px;
  margin: auto;
  text-align: center;
  font-size: 50px; }

section {
  max-width: 1024px;
  margin: auto; }
  section header {
    margin: 30px;
    text-align: center;
    font-size: 30px; }
  section #team-members {
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6; }
    section #team-members .member {
      padding: 10px 0; }
      section #team-members .member img {
        float: left;
        margin: 0 10px; }
  section #projects {
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6; }
    section #projects .project img {
      margin-bottom: 10px; }
    section #projects .project .name {
      font-size: 22px; }

#hero-unit {
  padding-top: 100px; }

#about {
  padding-top: 100px; }

#team-introduction {
  padding-top: 100px; }

#project-introduction {
  padding-top: 100px; }

footer {
  margin-bottom: 100px; }

/*
 * Grid system */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

[class*='col-'] {
  float: left;
  padding-right: 20px; }
  [class*='col-']:last-of-type {
    padding-right: 0px; }

.grid {
  width: 100%;
  max-width: 1024px;
  min-width: 755px;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }
  .grid > [class*='col-']:last-of-type {
    padding-right: 20px; }

.push-right {
  float: right; }

.col-main {
  width: 61.8%; }

.col-aside {
  width: 38.2%; }

.col-1-1 {
  width: 100%; }

.col-2-3, .col-8-12 {
  width: 66.66667%; }

.col-1-2, .col-6-12 {
  width: 50%; }

.col-1-3, .col-4-12 {
  width: 33.33333%; }

.col-1-4, .col-3-12 {
  width: 25%; }

.col-1-5 {
  width: 20%; }

.col-1-6, .col-2-12 {
  width: 16.66667%; }

.col-1-7 {
  width: 14.28571%; }

.col-1-8 {
  width: 12.5%; }

.col-1-9 {
  width: 11.11111%; }

.col-1-10 {
  width: 10%; }

.col-1-11 {
  width: 9.09091%; }

.col-1-12 {
  width: 8.33333%; }

.col-11-12 {
  width: 91.66667%; }

.col-10-12 {
  width: 83.33333%; }

.col-9-12 {
  width: 75%; }

.col-5-12 {
  width: 41.66667%; }

.col-7-12 {
  width: 58.33333%; }

/*
 * Responsive */
/* Large desktop */
/* Portrait tablet to landscape and desktop */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .grid {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px; }

  [class*='col-'] {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px; } }
/* Landscape phones and down */
