/*
 * Base styles like buttons, navigation, typography... */

// Typography

body {
  font: {
    family: $sansFontFamily;
    size: $baseFontSize;
  }
}

p {
  font: {
    family: inherit;
    size: inherit;
  }
}

// Image

img {
  max-width: 100%;
}

// Layout

#container {
  width: 100%;
  margin-top: 100px;
  @include clearfix;
}

// Headers

header[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  background-color: $white;
  border: {
    style: solid;
    width: 0;
    bottom: {
      width: 1px;
      color: lighten($gray, 10%);
    }
  }
  #inner-header {
    max-width: $rowWidth;
    margin: auto;
    #logo {
      float: left;
      display: block;
      padding: {
        right: 45px;
      }
    }
    nav {
      ul {
        margin: 0;
        padding: 19px 0;
        li {
          display: inline;
          padding: 0 45px;
          a {
            font: {
              size: 16px;
            }
            color: darken($gray, 30%);
            text-decoration: none;
            &:hover {
              color: darken($gray, 60%);
              @include transition(color linear 1s)
            }
          }
        }
      }
    }
  }
}

// Section

section {
  max-width: $rowWidth;
  margin: auto;
  header {
    margin: 30px;
    text-align: center;
    font: {
      size: 30px;
    }
  }
  #team-members {
    border: {
      style: solid;
      width: 1px;
      color: lighten($gray, 10%);
    }
    .member {
      padding: 10px 0;
      img {
        float: left;
        margin: 0 10px;
      }
      .name {

      }
      .introduction {

      }
    }
  }
}
