/*
 * Base styles like buttons, navigation, typography... */

// Typography

body {
  font: {
    family: $sansFontFamily;
    size: $baseFontSize;
  }
}

p {
  font: {
    family: inherit;
    size: inherit;
  }
}

// Image

img {
  max-width: 100%;
}

// Layout

#container {
  width: 100%;
  margin-top: 100px;
  @include clearfix;
}

// Headers

header[role="banner"] {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 0;
  border: {
    style: solid;
    width: 0;
    bottom: {
      width: 1px;
      color: lighten($gray, 10%);
    }
  }
  @include box-shadow(0 0 3px rgba(0, 0, 0, .05));
  background-color: #F0F0F0;
  background: white url('../img/bg-stripe.png') repeat scroll 0 0;
  overflow: visible;
  z-index: 99;
  #inner-header {
    max-width: $rowWidth;
    margin: auto;
    #logo {
      float: left;
      display: block;
      padding: {
        right: 45px;
      }
    }
    nav {
      ul {
        margin: 0;
        padding: 19px 0;
        li {
          display: inline;
          padding: 0 45px;
          a {
            font: {
              size: 16px;
            }
            color: darken($gray, 30%);
            text-decoration: none;
            &:hover {
              color: darken($gray, 60%);
              @include transition(color linear 1s)
            }
          }
        }
      }
    }
  }
}

// Section

#hero-unit {
  max-width: $rowWidth;
  margin: auto;
  text-align: center;
  font: {
    size: 50px;
  }
}

section {
  max-width: $rowWidth;
  margin: auto;
  header {
    margin: 30px;
    text-align: center;
    font: {
      size: 30px;
    }
  }
  #team-members {
    border: {
      style: solid;
      width: 1px;
      color: lighten($gray, 10%);
    }
    .member {
      padding: 10px 0;
      img {
        float: left;
        margin: 0 10px;
      }
      .name {

      }
      .intro {

      }
    }
  }
  #projects {
    border: {
      style: solid;
      width: 1px;
      color: lighten($gray, 10%);
    }
    .project {
      img {
        margin-bottom: 10px;
      }
      .name {
        font: {
          size: 22px;
        }
      }
      .intro {

      }
    }
  }
}

#hero-unit {
  padding-top: 100px;
}

#about {
  padding-top: 100px;
}

#team-introduction {
  padding-top: 100px;
}

#project-introduction {
  padding-top: 100px;
}

// Footer

footer {
  margin-bottom: 100px;
}