/*
 * Default settings for other scss files. */

// Grid and Layout

$rowWidth: 1024px !default;

// Colors

$mainColor: #123456 !default; // Undecided.
$secondaryColor: #e9e9e9 !default;
$txtColor: #222 !default;
$black: #000 !default;
$white: #fff !default;
$gray: #ccc !default;
$shadow: rgba(0, 0, 0, 0.1) !default;

// Fonts

$sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$serifFontFamily: Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily: Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize: 14px !default;
$baseLineHeight: 20px !default;
$baseFontFamily: $sansFontFamily !default;

// Paddings

$paddingLarge: 11px 19px !default;
$paddingSmall: 2px 10px !default;

// Others

$baseRadius: 4px !default;